.gras_blanc_16 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_26 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 26px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_38 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 38px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_60 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_64 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 64px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_80 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_120 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_150 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 150px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_blanc_280 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 370px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_rouge_250 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 250px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.gras_noir_85 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 85px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.gras_noir_120 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 120px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.gras_bleu_28 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 28px;
	color: #21354E;
	font-weight: bold;
	text-decoration: none;
}

.gras_bleu_64 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 64px;
	color: #21354E;
	font-weight: bold;
	text-decoration: none;
}
